@font-face {
    font-family: fredoka;
    src: url(../Fredoka/Fredoka-VariableFont_wdth\,wght.ttf);
}

*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: fredoka;
}

main{
    text-align: center;
    width: 90%;
    flex-wrap: wrap;
    
}

.mt-20{
    margin-top: 20px;
}

.text_red{
    color: #E53170;
}

.m-40{
    margin: 40px;
}

.black_box{
    background-color: black;
    height: 85px;
    width: 25%;
    box-shadow: 3px 3px 8px gray;
    min-width: 350px;
}
.img{
    height: 85px;
    width: 100px;
    justify-content: left;
}
.display{
    display: inline-block;
}
.text_box{
    color: white;
    align-self: left;
    flex-direction: column;
    text-align: left;
    margin-right: 75px;
    align-items: left;
    margin-bottom: 30px;
    

}

.line-heigth-50{
    line-height: 30px;
}
.bold{
    font-weight: bold;
}

.text_blue{
    color: #6BC5EB;
}
.ml-10{
    margin-left: 20px;
}
.mt-40{
    margin-top: 40px;
}
.displayf{
    display: inline-flex;
}