@font-face {
    font-family: fredoka;
    src: url(../Fredoka/Fredoka-VariableFont_wdth\,wght.ttf);
}

*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: fredoka;
}

main{
    text-align: center;
    width: 70%;
}

.mt-20{
    margin-top: 20px;
}

.text_red{
    color: #E53170;
}

.m-40{
    margin: 40px;
}